<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="UserID">
      <th mat-header-cell *matHeaderCellDef> UserID </th>
      <td mat-cell *matCellDef="let element"> {{element.UserID}} </td>
    </ng-container>
  
      <ng-container matColumnDef="Quote_Type">
        <th mat-header-cell *matHeaderCellDef> Quote_Type. </th>
        <td mat-cell *matCellDef="let element"> {{element.Quote_Type}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Contact_Name">
        <th mat-header-cell *matHeaderCellDef> Contact_Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Contact_Name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Task_Type">
        <th mat-header-cell *matHeaderCellDef> Task_Type. </th>
        <td mat-cell *matCellDef="let element"> {{element.Task_Type}} </td>
      </ng-container>
  
      <ng-container matColumnDef="DueDate">
        <th mat-header-cell *matHeaderCellDef> DueDate </th>
        <td mat-cell *matCellDef="let element"> {{element.DueDate}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>