<p>Sidebar For Routing</p>
<mat-list role="list">
    <mat-list-item role="listitem">
      <a href="quote/list">List Quotes</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="quote/create">Add Quote</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="user/login">Login Users</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="user/register">Register User</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="user/view/:id">View User</a>
    </mat-list-item>
  </mat-list>
  